{% extends 'base_admin.html' %}
{% load static %}

{% block content %}

{% block style %}

<style>

	.card {
                    margin: 0 auto; /* Added */
                    float: none; /* Added */
                    margin-bottom: 10px; /* Added */
					color: #006400;
	                {% comment %} background-color: #00FF7F; {% endcomment %}
                  	border: 1px solid #ccc;
                }

</style>

{% endblock style %}

<div class="main-panel">
	<div class="content">


							<div class="card" style="width: 16rem;">
								<div class="card-body">
									{% for message in messages %}
										<h4 class="card-title justify-content-center">{{ message }}</h4>
									{% endfor %}
								</div>
							</div>

							    <div class="card">
									<div class="card-header ">
										<h6>Backup Dates</h6>
										{% for d in ds %}
											<p>Last Backup Update: {{ d.backupdate }}  <a href="{% url 'deletebackup' d.id %}" class="btn btn-danger">Delete</a></p>
										{% endfor %}
										<h6>Experience Update Dates</h6>
										{% for e in es %}
											<p>Last Experience Update: {{ e.expdate }}  <a href="{% url 'deleteexp' e.id %}" class="btn btn-danger">Delete</a></p>
										{% endfor %}
										<h4 class="card-title">Department</h4>
										<p class="card-category">Faculty List</p>
										<a href="/increment" class="btn btn-warning" onclick="return confirm('Are you sure you want to increment all experience for the year?')">Increment Experience</a>
										<a href="/backup" class="btn btn-success" onclick="return confirm('Are you sure you want to backup all data?')">Backup Data</a>
										<a href="/deleteforms" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all data?')">Clear Data</a>
										<a href="/admin_faculty_form" class="btn btn-dark">Submitted Forms</a>
									</div>
									<div class="card-body">
									<div style="overflow-x:auto;">
										<table class="table table-head-bg-primary table-striped table-hover">
											<thead>
												<tr>
													<th scope="col">Name</th>
													<th scope="col">Designation</th>
                                                    <th scope="col">Department</th>
                                                    <th scope="col">Staff ID</th>
													<th scope="col">Edit Details</th>
													<th scope="col">Reset Password</th>
													<th scope="col">Remove</th>
												</tr>
											</thead>
											<tbody>
                                                {% for staff in staffs %}
                                                            <tr>
                                                            <td>{{ staff.Name }}</td>
                                                            <td>{{ staff.Present_Designation }}</td>
                                                            <td>{{ staff.Department }}</td>
                                                            <td>{{ staff.Staff_ID }}</td>
															<td><a class="btn btn-success" href="{% url 'forgot_password' staff.Staff_ID %}">Edit</a></td>
															<td><a class="btn btn-warning" onclick="return confirm('Are you sure you want to reset password?')" href="{% url 'reset_password' staff.Staff_ID %}">Reset</a></td>
															<td><a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this faculty?')" href="{% url 'deletef' staff.Staff_ID %}">Delete</a></td>
                                                            </tr>
                                                {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

{% endblock content %}