{% extends 'base_hod.html' %}
{% load static %}

{% block title %}Department List{% endblock title %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <style>
            .card {
                    margin: 0 auto; /* Added */
                    float: none; /* Added */
                    margin-bottom: 10px; /* Added */
                }
  </style>

{% endblock style %}

{% block content %}

<div class="main-panel">
  <div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Faculty Submitted List</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="card card-stats card-success">
								</div>
							</div>
  <div class="card">
	<div class="card-header ">
			<h4 class="card-title">Update Scores</h4>
		</div>


<div class="card-body">
<div style="overflow-x:auto;">
	<table class="table table-head-bg-primary table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Staff ID</th>
      <th scope="col">Appraisal Status</th>
      <th scope="col">HOD Appraisal Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for t in tle %}
    {% if hod.Department == t.department %}
      {% if t.whether_HOD == False %}
        <tr>
          <td>{{ t.name }}</td>
          <td>{{ t.designation }}</td>
          <td>{{ t.user }}</td>
          <td>{{ t.submitted_Faculty }}</td>
          <td>{{ t.submitted_HOD }}</td>
          <td><a class="btn btn-success" href="{% url 'staff_edit' t.user %}">Edit</a></td>
        </tr>
      {% endif %} 
   {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title justify-content-center"> Faculty Submitted : <b>{{ tlecount }}</b></h5>
        </div>
    </div>
  </div>
</div>
    
{% endblock content %}